<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://api-maps.yandex.ru/1.1/index.xml"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
</head>

<body ng-app="myApp" name="sampleForm" ng-controller="todoCtrl">
    <form ng-submit="todoAdd()" id="form">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-12 col-xs-offset-0">
                    <div id="YMapsID" style="width:100%;height:70%"></div>
                    <input type="text" ng-model="todoInput" class="form-control" placeholder="Введите адрес" id="adress">
                    <button type="submit" class="btn btn-default" id="findadress">Добавить</button>
                    <div ng-repeat="x in todoList">
                        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.geopoint.name"></span>
                    </div>
                    <p><button type="button" class="btn btn-default" ng-click="remove()">Удалить выбранное</button></p>
                </div>
            </div>
        </div>
    </form>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('todoCtrl', function($scope) {
        var map;
        var points = new YMaps.GeoObjectCollection();
        YMaps.jQuery(function() {
            // Создает экземпляр карты и привязывает его к созданному контейнеру
            map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

            // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
            map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
            map.enableScrollZoom();
        })

        $scope.todoList = [];
        $scope.todoAdd = function() {

            var adress = document.getElementById("adress").value;
            var geocoder = new YMaps.Geocoder(adress);

            function createPoint(obj) {
                var point = new YMaps.Placemark(obj.getGeoPoint());
                point.name = obj.text;
                return point
            }

			function addToList(point)
			{
				 $scope.todoList.push({
					geopoint: point,
					done: false
				});
			}
			
            YMaps.Events.observe(geocoder, geocoder.Events.Load, function() {
                if (this.length()) {
                    var point = createPoint(this.get(0));
                    var isNew = true;
                    points.forEach(function(obj) {
                        if (point.name == obj.name) isNew = false
                    });
                    if (isNew) {
                        points.add(point);
						addToList(point);
                        map.addOverlay(points);
                    } else {
                        alert("Данный адрес уже есть в списке");
                    }
                } else {
                    alert("Ничего не найдено")
                }
            });

            YMaps.Events.observe(geocoder, geocoder.Events.Fault, function(error) {
                alert("Произошла ошибка: " + error.message)
            });

            $scope.todoInput = "";
        };

        $scope.remove = function() {
            var oldList = $scope.todoList;
			
            angular.forEach(oldList, function(x) {
                if (x.done) {
					$scope.todoList.splice($scope.todoList.indexOf(x), 1);
					points.remove(x.geopoint); 
                }
            });
        };
    });

</script>

</html>
